header {font-family: tahoma;
			/*font-size: 700;*/
			background-color: #17072b;
				padding-top: 10px;
					float: top;
					height: 180px;
						text-decoration: underline;
						margin: 0px;
				
		}



h1 {font-family: tahoma;
		background-color: #17072b;
			color: white;
				text-align: center;
					text-decoration: underline;
						font-size: 50px;}

body {font-family: arial;
		}




nav {
		text-align: center;
			color: white;
				font-size: 30px;
					
			}
nav a {text-decoration: none;
			color: white;}		
			
li			{text-decoration: none;
				color: white;}
			
aside {width: 500px;
			background-color: #172d67;
				float: right;
						height: 350px;
					top: 30px;
					position: relative;
					padding-left: 40px;
					h2 {text-decoration: underline;
							color: white;}
					
						ul {color: white;
								position: right;
								padding: 0;}
			}



footer {background-color: #8c15e9;
			text-align: center;
	
}



main {
	padding: 0px;
		h2 {text-decoration: underline;
				text-decoration: bold;
					font-size: 30px;}
}

main {
	margin: 0 580px 0 20px; 

}

p {
	font-size: 20px;
}

footer {
	color: white;
		/*margin: 10 0px 10px 0px;*/
		padding: 5px 0 5px 0;
			font-size: 20px;
}


#footer {
   position:absolute;
   bottom:0;
   width:99%;
   height:33px; /* Height of the footer */
}



a {text-decoration: none;
			color: white;}